/*
Google Font CSS Call:
font-family: 'Dosis', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
.container-fluid {
  padding: 0;
}

.card {
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

/*NavBar Start*/
.NavBar {
  background-color: #000324;
}

.NavBarLg {
  display: flex;
  align-items: flex-end;
}

.NavBarSm {
  display: flex;
  align-items: center;
}

.NavBarWords {
  font: normal normal normal 20px/26px Dosis;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.NavBarWords:hover {
  color: #ffffff;
  border: 2px solid #e5feff;
}

.navbar-toggler {
  margin-top: 1%;
  margin-left: 1%;
  padding: 3%;
  padding-bottom: 1%;
  background-image: url("../Assets/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/*NavBar End*/

/*Header Start*/
#HeaderImage {
  background-image: url("../Assets/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 8%;
}

#HeaderTextBox {
  margin-left: 10%;
  margin-right: 10%;
  background: #000324;
  opacity: 0.8;
  padding: 5%;
}

#HeaderTitle {
  font: normal normal normal 45px/57px Dosis;
  letter-spacing: 0px;
  color: #e5feff;
  opacity: 1;
}

#HeaderText {
  text-align: center;
  font: normal normal normal 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #e5feff;
  opacity: 1;
}

/*Header End*/

/*HamterParadise Start*/
#HamsterParadise {
  margin-bottom: 5%;
}

#HamsterParadisePic {
  float: right;
}

#HamsterParadiseTitle {
  text-align: left;
  font: normal normal normal 35px/44px Dosis;
  letter-spacing: 0px;
  color: #1a1b26;
  opacity: 1;
  margin-bottom: 5%;
}

#HamsterParadiseText {
  text-align: left;
  font: normal normal normal 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #1a1b26;
  opacity: 1;
  max-width: 753px;
  word-wrap: break-word;
}

.HamsterParadiseIcon {
  margin-left: 3%;
  margin-right: 3%;
}
/*HamterParadise End*/

/*Rooms Start*/
#RoomsPic {
  background-image: url("../Assets/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 5%;
}

#RoomsTitle {
  text-align: center;
  font: normal normal normal 35px/44px Dosis;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-top: 50px;
}

#RoomCards {
  margin-left: 13%;
  margin-right: 13%;
  padding-bottom: 100px;
}

.RoomCardContent {
  text-align: left;
}

.RoomCardTitle {
  text-align: left;
  font: normal normal normal 25px/32px Dosis;
  letter-spacing: 0px;
  color: #1a1b26;
  opacity: 1;
}

.RoomCardAreaText {
  text-align: left;
  font: normal normal bold 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #1a1b26;
  opacity: 1;
}

.RoomCardList {
  text-align: left;
  font: normal normal normal 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #1a1b26;
  opacity: 1;
}

.RoomCardButton {
  margin-top: auto;
  border-radius: 0;
  margin-right: 50%;
}

.RoomCardSm {
  display: flex;
  justify-content: center;
  padding: 3%;
}

/*Rooms End*/

/*Packages Start*/
#PackagesTitle {
  text-align: center;
  font: normal normal normal 35px/44px Dosis;
  letter-spacing: 0px;
  color: #1a1b26;
  opacity: 1;
}

#packageTopRow {
  margin-left: 20%;
  margin-right: 20%;
}

#packageMiddleRow {
  margin-left: 20%;
  margin-right: 20%;
}

#packageBottomRow {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

#PackagePic {
  width: 100%;
  height: 200px;
}

#PackageTitle {
  text-align: left;
  font: normal normal normal 25px/32px Dosis;
  letter-spacing: 0px;
  color: #1a1b26;
  opacity: 1;
}

#PackagePrice {
  text-align: left;
  font: normal normal normal 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #1f51a8;
  opacity: 1;
}

#PackageText {
  text-align: left;
  font: normal normal normal 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #1a1b26;
  opacity: 1;
}
/*Packages End*/

/*Amenities Start*/

#Amenities {
  background-image: url("../Assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-bottom: 8%;
}

#AmenitiesTitle {
  font: normal normal normal 35px/44px Dosis;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  display: flex;
  justify-content: center;
}

#AmenitiesText {
  font: normal normal normal 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  display: flex;
  justify-content: center;
}

#AmenitiesIcons {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#AmenitiesIconText {
  margin-left: 15%;
  margin-right: 15%;
  font: normal normal bold 20px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
}
/*Amenities End*/

/*Reserve Start*/
#ReserveARoom {
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("../Assets/hamsterreserve.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 30%;
  margin-bottom: 8%;
}

#ReserveARoomUpper {
  background-color: #000324;
  padding-top: 20px;
  padding-bottom: 20px;
}

#ReserveARoomTitle {
  text-align: center;
  font: normal normal normal 35px/44px Dosis;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#ReserveRow {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: space-evenly;
}

.ReserveBar {
  border-radius: 0;
  height: 30px;
  width: 150px;
}

.ReserveButton {
  text-align: center;
  font: normal normal bold 15px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  border-radius: 0;
  height: 30px;
  width: 150px;
}

.ReserveLabel {
  text-align: left;
font: normal normal normal 15px Source Sans Pro;
letter-spacing: 0px;
color: #E5FEFF;
opacity: 1;
}
/*Reserve End*/

/*Contact Start*/
#Contact {
  padding-top: 2%;
  padding-bottom: 4%;
  background-color: #000324;
  text-align: center;
}

#Address {
  font: normal normal normal 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #e5feff;
  opacity: 1;
}

#Trademark {
  font: normal normal normal 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #e5feff;
  opacity: 1;
}

/*Contact End*/

@media screen and (max-width: 991px) {

  #HeaderTitle {
    font: normal normal normal 16px Dosis;
    letter-spacing: 0px;
    color: #e5feff;
    opacity: 1;
  }
  
  #HeaderText {
    text-align: center;
    font: normal normal normal 10px Source Sans Pro;
    letter-spacing: 0px;
    color: #e5feff;
    opacity: 1;
  }

  #HamsterParadisePic {
    display: none;
  }

  #HamsterParadiseTitle {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  #HamsterParadiseText {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
  }

  #HamsterParadiseIconDiv {
    display: flex;
    justify-content: center;
  }

  .HamsterParadiseIcon {
    width: 20%;
    height: 20%;
  }

  #PackagePic {
    width: 70%;
    height: 200px;
  }

  #packageTopRow {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  
  #packageMiddleRow {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  #packageBottomRow {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  #PackageTitle {
    text-align: center;
  }
  
  #PackagePrice {
    text-align: center;
  }
  
  #PackageText {
    text-align: center;
  }

  #Address {
    font: normal normal normal 14px Source Sans Pro;
    letter-spacing: 0px;
    color: #e5feff;
    opacity: 1;
  }
  
  #Trademark {
    font: normal normal normal 14px Source Sans Pro;
    letter-spacing: 0px;
    color: #e5feff;
    opacity: 1;
  }

  #ReserveARoom {
    background-image: none;
  }

}